<ul id="articles">
  <% for article in articles[0...3] %>
    <li><%= article %></li>
  <% end %>
</ul>
<div id="archives">
  <%= archives[3...5] %>
</div>
<!-- testing env variable passing -->
<p>env passed: <%= env != nil %><br/></p>
<!-- testing get/post parameter passing -->
<p>request method type: <%= env['REQUEST_METHOD'] %><br/></p>
<p>request name value pair: <%= env['QUERY_STRING'] %><br/></p>
